@import 'tailwindcss';

html {
  scroll-behavior: smooth;
  scroll-padding-top: 1rem;
}

body {
  font-family:
    -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, sans-serif;
}

@layer base {
  html {
    scroll-behavior: smooth;
  }
}

@media (max-width: 768px) {
  html {
    scroll-padding-top: 4rem;
  }
}
